.body {
    background-image: url(background.jpg);
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.image {
    width: 64px;
    height: 64px;
}

.list {
    display: flex;
    list-style: none;
}
